@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
html {
    background-image: url("./img/aWeatherBK.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
    
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    
    padding: 0%;
    margin: 0%;
}
/* Navigation*/
.nav {
    overflow: hidden;
    background-color: #333;
    margin: 0%;
    position: sticky;
    padding: 0%;
}
li {
    display: inline;
}
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

/*Weather details*/
.temp {
    background-color: #A7AFCE;
    max-width: 200px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}


.detail_table {
    padding: 10px;
    margin: 5px auto;
    border-spacing: 30px;
}
.detail_unit {
    background-color: white;
    margin: 50px auto;
    max-width: 100px;
    padding: 5px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
}


/*Footer*/

footer {
    background-color: antiquewhite;
    padding: 10px;
    margin: 0% ;
}

/*advertissment*/

.ads {
    background-color: green;
    max-width: 75% ;
    height: 50px;
    margin: auto;

}

/*Forecast*/
.future-forecast {
    padding: 25px;
    bottom: 0;
    color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #A7AFCE;
    border-radius: 50px;
    text-align: center;
}

/*Mobile Format*/

@media only screen and (max-width:730px){
    .future-forecast {
        align-items: none;
        overflow-y: scroll;
    }
}