html {
    padding: 0%;
    margin: 0%;
    height: 100%;
}

body {
    background-image: url("./img/aWeatherBK.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
/* Navigation*/
.nav {
    overflow: hidden;
    background-color: #333;
    margin: 0%;
    position: sticky;
    padding: 0%;
}
li {
    display: inline;
}
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

/*Weather details*/
.temp {
    background-color: white;
    max-width: 100px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.detail_table {
    padding: 10px;
    margin: 5px auto;
    border-spacing: 30px;
}
.detail_unit {
    background-color: white;
    margin: 50px auto;
    max-width: 100px;
    padding: 5px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
}


/*Footer*/

footer {
    background-color: antiquewhite;
    padding: 10px;
    margin: 0% ;
}

/*advertissment*/

.ads {
    background-color: green;
    max-width: 75% ;
    height: 50px;
    margin: auto;

}